<div class="row">
  <div class="col-xs-12">
    <h1>Ing. arch. TEREZA DUŠKOVÁ</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="mailto:duskova@plusminusnula.cz" target="_blank">duskova@plusminusnula.cz</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2006 - 2012</div>
  <div class="col-xs-9">{{ 'atelierFaVut'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2008 - 2009</div>
  <div class="col-xs-9">{{ 'atelierBolton'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2011 - 2017</div>
  <div class="col-xs-9">{{ 'atelierRaw'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2011</div>
  <div class="col-xs-9">{{ 'atelierTerezkaTugendhat'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2013 - 2015</div>
  <div class="col-xs-9">{{ 'atelierTerezkaMunz'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2016</div>
  <div class="col-xs-9">{{ 'atelierTerezka10Domu'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2017</div>
  <div class="col-xs-9">{{ 'atelierTerezkaTerminalJihlava'|trans }}</div>
</div>
