<div class="row">
  <div class="col-xs-12">
    <h1>Ing. arch. TEREZA HÁTLOVÁ</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="mailto:hatlova@plusminusnula.cz" target="_blank">hatlova@plusminusnula.cz</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      * Hradec Králové
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">2006 - 2012</div>
  <div class="col-xs-9">{{ 'atelierFaVut'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3">2008 - 2009</div>
  <div class="col-xs-9">{{ 'atelierBolton'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3">2011 - 2017</div>
  <div class="col-xs-9">{{ 'atelierRaw'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3">2011</div>
  <div class="col-xs-9">{{ 'atelierTerezkaTugendhat'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3">2013 - 2015</div>
  <div class="col-xs-9">{{ 'atelierTerezkaMunz'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3">2016</div>
  <div class="col-xs-9">{{ 'atelierTerezka10Domu'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3">2017</div>
  <div class="col-xs-9">{{ 'atelierTerezkaTerminalJihlava'|trans }}</div>
</div>
