
<div class="row">
  <div class="col-xs-12">
    <h1>Ing. arch. LENA TRPĚLKOVÁ</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="mailto:trpelkova@plusminusnula.cz" target="_blank">trpelkova@plusminusnula.cz</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2008 - 2015</div>
  <div class="col-xs-9">{{ 'atelierFaVut'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2013 - 2014</div>
  <div class="col-xs-9">{{ 'atelierLisbon'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2014</div>
  <div class="col-xs-9">{{ 'atelierFarris'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2015 - 2017</div>
  <div class="col-xs-9">{{ 'atelierBrandstetr'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2015</div>
  <div class="col-xs-9">{{ 'atelierLenaKlasterCheb'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2013</div>
  <div class="col-xs-9">{{ 'atelierLenaSoucastnyDum'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2013</div>
  <div class="col-xs-9">{{ 'atelierLenaDumNaMiru'|trans }}</div>
</div>
<div class="row">
  <div class="col-xs-3 no-padding-right">2013</div>
  <div class="col-xs-9">{{ 'atelierLenaGalerieArchitekturyADesignu'|trans }}</div>
</div>

