<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if showHeaderLogo == true %}
        <a class="navbar-brand" href="{{ path_for('homepage', {'lang': lang }) }}">
          <svg height="23" width="12">
          <line x1="0" y1="0" x2="0" y2="23" style="stroke:black;stroke-width:4" />
          <line x1="0" y1="23" x2="12" y2="23" style="stroke:black;stroke-width:4" />
          <line x1="12" y1="23" x2="12" y2="12" style="stroke:black;stroke-width:4" />
          <line x1="12" y1="12" x2="0" y2="0" style="stroke:black;stroke-width:2" />
          Sorry, your browser does not support inline SVG.
          </svg>
          &nbsp;
          <strong>NULA</strong> ARCHITEKTI
        </a>
      {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ path_for('projects', {'lang': lang }) }}"{% if activeLink == 'projects' %} class="active-link" {% endif %}>{{ 'projectsTitle'|trans|upper }}</a>
        </li>
        <li>
          <a href="{{ path_for('aboutUs', {'lang': lang }) }}"{% if activeLink == 'aboutUs' %} class="active-link" {% endif %}>{{ 'aboutUsTitle'|trans|upper }}</a>
        </li>
        <li>
          <a href="{{ path_for('offer', {'lang': lang }) }}"{% if activeLink == 'offer' %} class="active-link" {% endif %}>{{ 'offerTitle'|trans|upper }}</a>
        </li>
        <li>
          <a href="{{ path_for('faq', {'lang': lang }) }}"{% if activeLink == 'faq' %} class="active-link" {% endif %}>{{ 'faqTitle'|trans|upper }}</a>
        </li>
        <li>
          <a href="{{ path_for('contact', {'lang': lang }) }}"{% if activeLink == 'contact' %} class="active-link" {% endif %}>{{ 'contactTitle'|trans|upper }}</a>
        </li>
        <li>
          {% include 'components/languageSwitcher.twig' %}
        </li>
      </ul>
    </div>
  </div>
</nav>