<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if showHeaderLogo == true %}<a class="navbar-brand" href="#">NULA</a>{% endif %}
      
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ path_for('homepage', {'lang': lang }) }}">{{ 'homepageTitle'|trans }}</a>
        </li>
        <li>
          <a href="{{ path_for('projects', {'lang': lang }) }}">{{ 'projectsTitle'|trans }}</a>
        </li>
        <li>
          <a href="{{ path_for('offer', {'lang': lang }) }}">{{ 'offerTitle'|trans }}</a>
        </li>
        <li>
          <a href="{{ path_for('aboutUs', {'lang': lang }) }}">{{ 'aboutUsTitle'|trans }}</a>
        </li>
        <li>
          <a href="{{ path_for('faq', {'lang': lang }) }}">{{ 'faqTitle'|trans }}</a>
        </li>
        <li>
          <a href="{{ path_for('contact', {'lang': lang }) }}">{{ 'contactTitle'|trans }}</a>
        </li>        
        <li>
          {% include 'components/languageSwitcher.twig' %}
        </li>
      </ul>
    </div>    
  </div>  
</nav>