<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if activeLink != 'homepage' %}
        <a class="navbar-brand" href="{{ path_for('homepage', {'lang': lang }) }}">
          <img src="/images/logo-black.svg" alt="Logo PLUS MINUS NULA">
        </a>
      {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ path_for('projects', {'lang': lang }) }}"{% if activeLink == 'projects' %} class="active-link" {% endif %}>{{ 'titulekProjekty'|trans|upper }}</a>
        </li>
        <li>
          <a href="{{ path_for('atelier', {'lang': lang }) }}"{% if activeLink == 'atelier' %} class="active-link" {% endif %}>{{ 'titulekAtelier'|trans|upper }}</a>
        </li>
        <li>
          <a href="{{ path_for('contact', {'lang': lang }) }}"{% if activeLink == 'contact' %} class="active-link" {% endif %}>{{ 'titulekKontakt'|trans|upper }}</a>
        </li>
        <li>
          <a href="{{ path_for('faq', {'lang': lang }) }}"{% if activeLink == 'faq' %} class="active-link" {% endif %}>{{ 'titulekFAQ'|trans|upper }}</a>
        </li>
        <li>
          <a id="language-switcher" href="{{ languageSwitchParameters.alternativeUrl }}">
            <span class="active-link">{{ languageSwitchParameters.currentAbbreviation|upper }}</span>&nbsp;/&nbsp;{{ languageSwitchParameters.alternativeAbbreviation|upper }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>