{% extends "base-content.twig" %}

{% block title %}Citadela MEfisto{% endblock %}
{% block content %}
  <div class="container">
    <div class="row row-filling-big">
    </div>
    <div class="row project-detail">
      <div class="col-sm-6 project-data">
        <h1>CITADELA MEFISTO</h1>
        <table>
          <tbody>
            <tr>
              <th>{{ 'projektTypologie'|trans|upper }}</th>
              <td>FOO BAR</td>
            </tr>
            <tr>
              <th>{{ 'projektMisto'|trans|upper }}</th>
              <td>Brno, CZ</td>
            </tr>
            <tr>
              <th>{{ 'projektAutori'|trans|upper }}</th>
              <td>Tereza H치tlov치</td>
            </tr>
            <tr>
              <th>{{ 'projektSpoluprace'|trans|upper }}</th>
              <td>Tereza H치tlov치</td>
            </tr>
            <tr>
              <th>{{ 'projektStudie'|trans|upper }}</th>
              <td>Ano</td>
            </tr>
            <tr>
              <th>{{ 'projektRealizace'|trans|upper }}</th>
              <td>Ano</td>
            </tr>
            <tr>
              <th>{{ 'projektSoutez'|trans|upper }}</th>
              <td>Ano</td>
            </tr>
            <tr>
              <th>{{ 'projektPublikace'|trans|upper }}</th>
              <td>Ano</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 project-images">
        <div class="row">
          <div class="col-12">
            <img class="img-responsive" src="/images/projects/citadela/1-thumbnail.jpg">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-4 project-image-thumbnail">
            <img class="img-responsive" src="/images/projects/citadela/1.jpg">
          </div>
          <div class="col-sm-3 col-xs-4 project-image-thumbnail">
            <img class="img-responsive" src="/images/projects/citadela/2.jpg">
          </div>
          <div class="col-sm-3 col-xs-4 project-image-thumbnail">
            <img class="img-responsive" src="/images/projects/citadela/3.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
{% endblock %}

