{% extends "base-content.twig" %}

{% block title %}Projekt: {{ project.getName() }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row row-filling-big">
    </div>
    <div class="row project-detail">
      <div class="col-sm-4 project-data">
        <table>
          <tbody>
          {% if project.getName() %}
            <tr>
              <th>{{ 'projektNazev'|trans|upper }}</th>
              <td>{{ project.getName() }}</td>
            </tr>
          {% endif %}
          {% if project.getTypology() %}
            <tr>
              <th>{{ 'projektTypologie'|trans|upper }}</th>
              <td>{{ project.getTypology() }}</td>
            </tr>
          {% endif %}
          {% if project.getPlace() %}
            <tr>
              <th>{{ 'projektMisto'|trans|upper }}</th>
              <td>{{ project.getPlace() }}</td>
            </tr>
          {% endif %}
          {% if project.getAuthors() is not empty %}
            <tr>
              <th>{{ 'projektAutori'|trans|upper }}</th>
              <td>{{ project.getAuthors()|join('<br>')|raw }}</td>
            </tr>
          {% endif %}
          {% if project.getCooperation() is not empty %}
            <tr>
              <th>{{ 'projektSpoluprace'|trans|upper }}</th>
              <td>{{ project.getCooperation()|join(', ') }}</td>
            </tr>
          {% endif %}
          {% if project.getStudy() %}
            <tr>
              <th>{{ 'projektStudie'|trans|upper }}</th>
              <td>{{ project.getStudy() }}</td>
            </tr>
          {% endif %}
          {% if project.getRealization() %}
            <tr>
              <th>{{ 'projektRealizace'|trans|upper }}</th>
              <td>{{ project.getRealization() }}</td>
            </tr>
          {% endif %}
          {% if project.getCompetition() %}
            <tr>
              <th>{{ 'projektSoutez'|trans|upper }}</th>
              <td>{{ project.getCompetition() }}</td>
            </tr>
          {% endif %}
          {% if project.getPublication() %}
            <tr>
              <th>{{ 'projektPublikace'|trans|upper }}</th>
              <td>{{ project.getPublication() }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>

        {% if project.getPopis() %}
          <p class="project-description">
            {{ project.getPopis|raw }}
          </p>
        {% endif %}
      </div>
      <div class="col-sm-8 project-images">
        <div class="row hidden-xs">
          <div class="col-sm-11">
            <div class="col-sm-12" id="slider">
              <div class="row no-gutter">
                <div class="col-sm-12" id="carousel-bounding-box">
                  <div class="carousel slide" id="project-detail-carousel">
                    <div class="carousel-inner" role="listbox">
                      {% for imagePublicSourceNameDesktop in project.getFullImages() %}
                        <div class="item {% if loop.first %}active{% endif %}"
                             data-slide-number="{{ loop.index0 }}">
                          <img class="img-responsive"
                               src="{{ imagePublicSourceNameDesktop }}?v={{ resources_version }}">
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1" id="slider-thumbs">
            <div class="row no-gutter project-detail-thumbnails">
              {% for imageThumbnailPublicSourceNameDesktop in project.getThumbnailImages() %}
                <div class="col-sm-12">
                  <a class="thumbnail {% if loop.first %}active-thumbnail{% endif %}"
                     id="carousel-selector-{{ loop.index0 }}">
                    <img class="img-responsive"
                         src="{{ imageThumbnailPublicSourceNameDesktop }}?v={{ resources_version }}">
                    <div></div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <br>
        <div class="row visible-xs project-detail-mobile-images">
          {% for imagePublicSourceNameMobile in project.getFullImages() %}
            <div class="col-xs-12">
              <img class="img-responsive" src="{{ imagePublicSourceNameMobile }}?v={{ resources_version }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block bodyend %}
  <script type="text/javascript">
    jQuery(document).ready(function ($) {

      var detailCarousel = $('#project-detail-carousel');

      detailCarousel.carousel({
        interval: false
      });

      //Handles the carousel thumbnails
      $('[id^=carousel-selector-]').click(function () {
        var id_selector = $(this).attr("id");
        try {
          var id = /-(\d+)$/.exec(id_selector)[1];
          jQuery('#project-detail-carousel').carousel(parseInt(id));
          moveActiveThumbnail(id);
        } catch (e) {
          console.log('Regex failed!', e);
        }
      });
      // When the carousel slides, auto update the text
      detailCarousel.on('slid.bs.carousel', function () {
        var id = $('.item.active').data('slide-number');
        $('#carousel-text').html($('#slide-content-' + id).html());
        moveActiveThumbnail(id);
      });

      function changeCaruselDetail(id) {
        $('.item').removeClass('active');
        $('.item[data-slide-number=' + id + ']').addClass('active');
        moveActiveThumbnail(id);
      }

      function moveActiveThumbnail(id) {
        jQuery('a.active-thumbnail').removeClass('active-thumbnail');
        jQuery('#carousel-selector-' + id).addClass('active-thumbnail');
      }

      // Vertical scroll
      $('#thumbnail-scroll-down').click(function () {
        jQuery("[id^='carousel-selector-']:not(.thumbnail-collapsed)").first().addClass('thumbnail-collapsed');
      });

      $('#thumbnail-scroll-up').click(function () {
        jQuery("[id^='carousel-selector-'].thumbnail-collapsed").last().removeClass('thumbnail-collapsed');
      });

      // Moving images using arrows
      $(document).keydown(function (event) {
        var idSelector = jQuery("a.active-thumbnail").attr('id');
        var id = parseInt(/-(\d+)$/.exec(idSelector)[1]);


        switch (event.which) {
          case 37: // left
          case 38: // up
            if (id <= 0) {
              return;
            }
            changeCaruselDetail(--id);
            event.preventDefault();
            break;

          case 39: // right
          case 40: // down
            if (id >= jQuery(".thumbnail").length - 1) {
              return;
            }
            changeCaruselDetail(++id);
            event.preventDefault();
            break;
        }
      });
    });
  </script>
{% endblock %}

