{% extends "base-content.twig" %}

{% block title %}Projekt: {{ project.getName() }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row row-filling-big">
    </div>
    <div class="row project-detail">
      <div class="col-sm-4 project-data">
        <table>
          <tbody>
          {% if project.getName() %}
            <tr>
              <th>{{ 'projektNazev'|trans|upper }}</th>
              <td>{{ project.getName() }}</td>
            </tr>
          {% endif %}
          {% if project.getTypology() %}
            <tr>
              <th>{{ 'projektTypologie'|trans|upper }}</th>
              <td>{{ project.getTypology() }}</td>
            </tr>
          {% endif %}
          {% if project.getPlace() %}
            <tr>
              <th>{{ 'projektMisto'|trans|upper }}</th>
              <td>{{ project.getPlace() }}</td>
            </tr>
          {% endif %}
          {% if project.getAuthors() is not empty %}
            <tr>
              <th>{{ 'projektAutori'|trans|upper }}</th>
              <td>{{ project.getAuthors()|join('<br>')|raw }}</td>
            </tr>
          {% endif %}
          {% if project.getCooperation() is not empty %}
            <tr>
              <th>{{ 'projektSpoluprace'|trans|upper }}</th>
              <td>{{ project.getCooperation()|join(', ') }}</td>
            </tr>
          {% endif %}
          {% if project.getStudy() %}
            <tr>
              <th>{{ 'projektStudie'|trans|upper }}</th>
              <td>{{ project.getStudy() }}</td>
            </tr>
          {% endif %}
          {% if project.getRealization() %}
            <tr>
              <th>{{ 'projektRealizace'|trans|upper }}</th>
              <td>{{ project.getRealization() }}</td>
            </tr>
          {% endif %}
          {% if project.getCompetition() %}
            <tr>
              <th>{{ 'projektSoutez'|trans|upper }}</th>
              <td>{{ project.getCompetition() }}</td>
            </tr>
          {% endif %}
          {% if project.getAward() %}
            <tr>
              <th>{{ 'projektOceneni'|trans|upper }}</th>
              <td>{{ project.getAward() }}</td>
            </tr>
          {% endif %}
          {% if project.getPublication() %}
            <tr>
              <th>{{ 'projektPublikace'|trans|upper }}</th>
              <td>{{ project.getPublication() }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>

        {% if project.getDescription() %}
          <p class="project-description">
            {{ project.getDescription|raw }}
          </p>
        {% endif %}
      </div>
      <div class="col-sm-8 project-images">
        <div class="row hidden-xs">
          <div class="col-sm-11">
            <div class="col-sm-12" id="slider">
              <div class="row no-gutter">
                <div class="col-sm-12" id="carousel-bounding-box">
                  <div class="carousel" id="project-detail-carousel">
                    <div class="carousel-inner" role="listbox">
                      {% for imagePublicSourceNameDesktop in project.getFullImages() %}
                        <div class="item{% if loop.first %} active{% endif %}"
                             data-slide-number="{{ loop.index0 }}">
                          <img class="img-responsive"
                               src="{{ imagePublicSourceNameDesktop }}?v={{ resources_version }}">
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1" id="slider-thumbs">
            <div id="project-detail-thumbnails" class="row no-gutter">
              {% for imageThumbnailPublicSourceNameDesktop in project.getThumbnailImages() %}
                <div class="col-sm-12">
                  <a class="thumbnail{% if loop.first %} active{% endif %}"
                     id="carousel-selector-{{ loop.index0 }}"
                     data-target="#project-detail-carousel"
                     data-slide-number="{{ loop.index0 }}"
                     data-slide-to="{{ loop.index0 }}">
                    <img class="img-responsive"
                         src="{{ imageThumbnailPublicSourceNameDesktop }}?v={{ resources_version }}">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <br>
        <div class="row visible-xs project-detail-mobile-images">
          {% for imagePublicSourceNameMobile in project.getFullImages() %}
            <div class="col-xs-12">
              <img class="img-responsive" src="{{ imagePublicSourceNameMobile }}?v={{ resources_version }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block bodyend %}
  <script type="text/javascript">
    $(window).on('load', function () {

      var carouselId = 'project-detail-carousel';
      var carouselThumbnailsId = 'project-detail-thumbnails';
      var slideNumberDataProperty = 'slide-number';
      var slideClass = 'item';
      var thumbnailClass = 'thumbnail';
      var activeClass = 'active';

      var maxVisibleThumbnailsCount = 0;
      var allThumbnailsCount = 0;

      registerWindowHandlers();
      configureCarousel();
      calculateMaxVisibleThumbnailsCount();
      calculateAllThumbnailsCount();

      function registerWindowHandlers() {
        $(window).keydown(handleKeyboardNavigation);
        $(window).resize(calculateMaxVisibleThumbnailsCount);
      }

      function configureCarousel() {
        getCarouselElement().carousel({interval: false});
        getCarouselElement().on('slid.bs.carousel', setActiveThumbnailByActiveSlide);
      }

      function setActiveThumbnailByActiveSlide() {
        var activeSlideIndex = getActiveSlideIndex();
        getActiveThumbnailElement().removeClass(activeClass);
        getThumbnailElementBySlideIndex(activeSlideIndex).addClass(activeClass);
        actualizeThumbnailsIfBoundReach(activeSlideIndex);
      }

      function handleKeyboardNavigation(event) {
        var slideIndex = getActiveSlideIndex();
        var keyCode = event.which;

        if ((keyCode === 37 || keyCode === 38) && slideIndex > 0) {
          getCarouselElement().carousel('prev');
          event.preventDefault();
        } else if ((keyCode === 39 || keyCode === 40) && slideIndex < $('.' + thumbnailClass).length - 1) {
          getCarouselElement().carousel('next');
          event.preventDefault();
        }
      }

      function getFirstVisibleThumbnailIndex() {
        var visibilityHidden = $('.' + thumbnailClass + ':hidden')
        if (visibilityHidden.length > 0) {
          return visibilityHidden.last().data(slideNumberDataProperty) + 1;
        } else {
          return 0;
        }
      }

      function getLastVisibleThumbnailIndex() {
        var lastVisibleThumbnailIndex = getFirstVisibleThumbnailIndex() + maxVisibleThumbnailsCount - 1;
        if (lastVisibleThumbnailIndex >= allThumbnailsCount) {
          return allThumbnailsCount - 1;
        } else {
          return lastVisibleThumbnailIndex;
        }
      }

      function actualizeThumbnailsIfBoundReach(activeSlideIndex) {
        var maxThumbnailToProcess = Math.floor(maxVisibleThumbnailsCount / 2);
        var processedSlideIndex = getFirstVisibleThumbnailIndex();
        var lastHideableIndex = allThumbnailsCount - maxVisibleThumbnailsCount - 1;

        if (activeSlideIndex <= getFirstVisibleThumbnailIndex()) {
          for (var i = 1; i <= maxThumbnailToProcess && processedSlideIndex > 0; i++) {
            processedSlideIndex--;
            getThumbnailElementByScslideIndex(processedSlideIndex).show();
          }
        } else if (activeSlideIndex >= getLastVisibleThumbnailIndex()) {

          for (var i = 1; i <= maxThumbnailToProcess && processedSlideIndex >= 0 && processedSlideIndex <= lastHideableIndex; i++) {
            getThumbnailElementBySlideIndex(processedSlideIndex).hide();
            processedSlideIndex++;
          }
        }
      }


      function getCarouselElement() {
        return $('#' + carouselId);
      }

      function getThumbnailsElement() {
        return $('#' + carouselThumbnailsId);
      }

      function getActiveSlideElement() {
        return $('.' + slideClass + '.' + activeClass);
      }

      function getActiveSlideIndex() {
        return getActiveSlideElement().data(slideNumberDataProperty);
      }

      function calculateMaxVisibleThumbnailsCount() {
        maxVisibleThumbnailsCount = Math.floor(getThumbnailsElement().height() / getActiveThumbnailElement().height());
      }

      function calculateAllThumbnailsCount() {
        allThumbnailsCount = $('.' + thumbnailClass).length;
      }

      function getActiveThumbnailElement() {
        return $('.' + thumbnailClass + '.' + activeClass);
      }

      function getThumbnailElementBySlideIndex(slideIndex) {
        return $('.' + thumbnailClass + '[data-' + slideNumberDataProperty + '=' + slideIndex + ']');
      }

    });
  </script>
{% endblock %}

