{% extends "base.twig" %}

{% block title %}{{ 'titulekProjekty'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <div id="content" class="container">
    <div class="row projects-list">
      <div class="col-xs-4 col-sm-3 project-card">
        <img class="img-responsive project-card-image" src="/images/projects/citadela/1_thumbnail.jpg" alt="projekt Citadela Mefisto">
        <div class="project-card-overlay">
          <a class="project-card-title" href="{{ path_for('projectDetail', {'lang': lang, 'rewrite': 'citadela' }) }}">CITADELA MEFISTO</a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 project-card">
        <img class="img-responsive project-card-image" src="/images/projects/milano/1_thumbnail.JPG" alt="projekt Citadela Mefisto">
        <div class="project-card-overlay">
          <a class="project-card-title" href="{{ path_for('projectDetail', {'lang': lang, 'rewrite': 'milano' }) }}">MILÁNO</a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 project-card">
        <img class="img-responsive project-card-image" src="/images/projects/citadela/1_thumbnail.jpg" alt="projekt Citadela Mefisto">
        <div class="project-card-overlay">
          <a class="project-card-title" href="{{ path_for('projectDetail', {'lang': lang, 'rewrite': 'citadela' }) }}">PROJEKT 1</a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 project-card">
        <img class="img-responsive project-card-image" src="/images/projects/milano/1_thumbnail.JPG" alt="projekt Citadela Mefisto">
        <div class="project-card-overlay">
          <a class="project-card-title" href="{{ path_for('projectDetail', {'lang': lang, 'rewrite': 'milano' }) }}">PROJEKT 2</a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 project-card">
        <img class="img-responsive project-card-image" src="/images/projects/citadela/1_thumbnail.jpg" alt="projekt Citadela Mefisto">
        <div class="project-card-overlay">
          <a class="project-card-title" href="{{ path_for('projectDetail', {'lang': lang, 'rewrite': 'citadela' }) }}">PROJEKT 3</a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 project-card">
        <img class="img-responsive project-card-image" src="/images/projects/citadela/1_thumbnail.jpg" alt="projekt Citadela Mefisto">
        <div class="project-card-overlay">
          <a class="project-card-title" href="{{ path_for('projectDetail', {'lang': lang, 'rewrite': 'citadela' }) }}">PROJEKT 4</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

