{% extends "base-content.twig" %}

{% block title %}{{ 'titulekProjekty'|trans }}{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row no-gutter projects-list">
      {% for project in projects %}
        {% if not project.isNull %}
          <div class="col-xs-4 col-sm-3">
            <a href="{{ path_for('projectDetail', {'lang': lang, 'rewrite': project.getRewrite() }) }}">
              <img src="{{ project.getMainImagePublicSourceName() }}" alt="Projekt {{ project.getName() }}" class="img-responsive project-list-image">
              <div class="project-list-overlay">
                <div class="project-list-text">
                  {{ project.getName() }}
                  <br><br>
                  {{ project.getTypology() }}
                </div>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

