{% extends "base.twig" %}

{% block title %}{{ 'titulekFAQ'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <div id="content" class="container">
    <div class="row row-filling-big">
    </div>
    <div class="row faq-content">
      <div class="col-sm-5 faq-questions">
        <a href="#faq-cim-zacit-desktop" data-toggle="collapse" data-parent="#faq-desktop-answers">{{ 'faqCimZacit'|trans|upper }}</a>
        <br>
        <a href="#faq-dtavba-desktop" data-toggle="collapse" data-parent="#faq-desktop-answers">{{ 'faqStavba'|trans|upper }}</a>
        <br>
        <a href="#faq-interier-desktop" data-toggle="collapse" data-parent="#faq-desktop-answers">{{ 'faqInterier'|trans|upper }}</a>
        <br>
        <a href="#faq-design-desktop" data-toggle="collapse" data-parent="#faq-desktop-answers">{{ 'faqDesign'|trans|upper }}</a>
        <br>
        <a href="#faq-realizace-desktop" data-toggle="collapse" data-parent="#faq-desktop-answers">{{ 'faqRealizace'|trans|upper }}</a>
        <br>
        <a href="#faq-cas-desktop" data-toggle="collapse" data-parent="#faq-desktop-answers">{{ 'faqCas'|trans|upper }}</a>
      </div>
      <div id="faq-desktop-answers" class="col-sm-7 faq-answers">
        <div class="panel">
          <div id="faq-cim-zacit-desktop" class="panel-collapse collapse">
            <ul>
              <li>{{ 'faqCimZacitKontakt'|trans|raw }}</li>
              <li>{{ 'faqCimZacitUvodniSchuzka'|trans|raw }}</li>
              <li>{{ 'faqCimZacitKontaktCenovaNabidka'|trans|raw }}</li>
              <li>{{ 'faqCimZacitKontaktTerminZahajeni'|trans|raw }}</li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div id="faq-dtavba-desktop" class="panel-collapse collapse">
            <ul>
              <li>{{ 'faqStavbaKonzultace'|trans|raw }}</li>
              <li>{{ 'faqStavbaZamereni'|trans|raw }}</li>
              <li>{{ 'faqStavbaStudie'|trans|raw }}</li>
              <li>{{ 'faqStavbaDokumentaceTechnicka'|trans|raw }}</li>
              <li>{{ 'faqStavbaVyjadreniAStanoviska'|trans|raw }}</li>
              <li>{{ 'faqStavbaUrady'|trans|raw }}</li>
              <li>{{ 'faqStavbaDokumentaceRealizace'|trans|raw }}</li>
              <li>{{ 'faqStavbaDozor'|trans|raw }}</li>
              <li>{{ 'faqStavbaSpoluprace'|trans|raw }}</li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div id="faq-interier-desktop" class="panel-collapse collapse">
            <ul>
              <li>{{ 'faqInterierKonzultace'|trans|raw }}</li>
              <li>{{ 'faqInterierZamereni'|trans|raw }}</li>
              <li>{{ 'faqInterierStudie'|trans|raw }}</li>
              <li>{{ 'faqInterierPodklady'|trans|raw }}</li>
              <li>{{ 'faqInterierVyberPrvku'|trans|raw }}</li>
              <li>{{ 'faqInterierDozor'|trans|raw }}</li>
              <li>{{ 'faqInterierSpoluprace'|trans|raw }}</li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div id="faq-design-desktop" class="panel-collapse collapse">
            <ul>
              <li>{{ 'faqDesignNabytek'|trans|raw }}</li>
              <li>{{ 'faqDesignInstalaceDekorace'|trans|raw }}</li>
              <li>{{ 'faqDesignGrafickyDesign'|trans|raw }}</li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div id="faq-realizace-desktop" class="panel-collapse collapse">
            <p>{{ 'faqRealizaceText'|trans }}</p>
          </div>
        </div>
        <div class="panel">
          <div id="faq-cas-desktop" class="panel-collapse collapse">
            <p>{{ 'faqCasText'|trans }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}