{% extends "base-content.twig" %}

{% block title %}{{ 'titulekAtelier'|trans }}{% endblock %}
{% block content %}
  <div class="container-fluid atelier-header">
    <div class="container atelier-header-info">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <h1>Ing. arch. TEREZA HÁTLOVÁ</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a href="mailto:hatlova@plusminusnula.cz" target="_blank">hatlova@plusminusnula.cz</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              * Hradec Králové
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">2006 - 2012</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierFaVut'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2008 - 2009</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierBolton'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2011 - 2017</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierRaw'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2011</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierTerezkaTugendhat'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013 - 2015</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierTerezkaMunz'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2016</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierTerezka10Domu'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2017</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierTerezkaTerminalJihlava'|trans }}</div>
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <h1>Ing. arch. LENA TRPĚLKOVÁ</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a href="mailto:trpelkova@plusminusnula.cz" target="_blank">trpelkova@plusminusnula.cz</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              * Brno
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">2008 - 2015</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierFaVut'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013 - 2014</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierLisbon'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2014</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierFarris'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2015 - 2017</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierBrandstetr'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2015</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierLenaKlasterCheb'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierLenaSoucastnyDum'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierLenaDumNaMiru'|trans }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4">2013</div>
            <div class="col-sm-offset-2 col-sm-6">{{ 'atelierLenaGalerieArchitekturyADesignu'|trans }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container atelier-info">
    <div class="row">
      <div class="col-sm-4">
        <h1>{{ 'atelierCoDelameNadpis'|trans|upper }}</h1>
        <p>
          {{ 'atelierCoDelamePrvniOdstavec'|trans|raw }}
        </p>
        <p>
          {{ 'atelierCoDelameDruhyOdstavec'|trans|raw }}
        </p>
      </div>
      <div class="col-sm-4">
        <h1>{{ 'atelierJakToDelameNadpis'|trans|upper }}</h1>
        <p>
          {{ 'atelierJakToDelamePrvniOdstavec'|trans|raw }}
        </p>
        <p>
          {{ 'atelierJakToDelameDruhyOdstavec'|trans|raw }}
        </p>
      </div>
      <div class="col-sm-4">
        <h1>{{ 'atelierProcPlusMinusNulaNadpis'|trans|upper }}</h1>
        <p>
          {{ 'atelierProcPlusMinusNulaPrvniOdstavec'|trans|raw }}
        </p>
        <p>
          {{ 'atelierProcPlusMinusNulaDruhyOdstavec'|trans|raw }}
        </p>
      </div>
    </div>
  </div>

{% endblock %}