{% extends "base-content.twig" %}

{% block title %}{{ 'titulekAtelier'|trans }}{% endblock %}
{% block content %}
  <div class="hidden-xs container-fluid atelier-cv-desktop atelier-container-under-navbar">
    <div class="container atelier-cv-text-desktop">
      <div class="atelier-cv-desktop-tereza atelier-cv-desktop-col">
        {% include "components/atelier-cv-tereza.twig" %}
      </div>
      <div class="atelier-cv-desktop-lena atelier-cv-desktop-col">
        {% include "components/atelier-cv-lena.twig" %}
      </div>
    </div>
  </div>

  <div class="visible-xs container-fluid atelier-image-desktop atelier-container-under-navbar">
  </div>
  <div class="visible-xs container">
    {% include "components/atelier-cv-lena.twig" %}
  </div>
  <div class="visible-xs container">
    {% include "components/atelier-cv-tereza.twig" %}
  </div>

  <div class="hidden-xs container">
    <div class="row row-filling-big">
    </div>
  </div>

  <div class="container atelier-info">
    <div class="row">
      <div class="col-sm-4">
        <h1>{{ 'atelierCoDelameNadpis'|trans|upper }}</h1>
        <p>
          {{ 'atelierCoDelamePrvniOdstavec'|trans|raw }}
        </p>
        <p>
          {{ 'atelierCoDelameDruhyOdstavec'|trans|raw }}
        </p>
      </div>
      <div class="col-sm-4">
        <h1>{{ 'atelierJakToDelameNadpis'|trans|upper }}</h1>
        <p>
          {{ 'atelierJakToDelamePrvniOdstavec'|trans|raw }}
        </p>
        <p>
          {{ 'atelierJakToDelameDruhyOdstavec'|trans|raw }}
        </p>
      </div>
      <div class="col-sm-4">
        <h1>{{ 'atelierProcPlusMinusNulaNadpis'|trans|upper }}</h1>
        <p>
          {{ 'atelierProcPlusMinusNulaPrvniOdstavec'|trans|raw }}
        </p>
        <p>
          {{ 'atelierProcPlusMinusNulaDruhyOdstavec'|trans|raw }}
        </p>
      </div>
    </div>
  </div>

{% endblock %}