{% extends "base-content.twig" %}

{% block title %}{{ 'titulekKontakt'|trans }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row row-filling-big">
    </div>
    <div class="col-sm-5">
      <p>
        {{ 'jmenoAtelieru'|trans|upper }}
      </p>
      <p>
        Jakubské námestí 109/1&nbsp;&nbsp;
        <a href="https://www.google.cz/maps/place/Jakubsk%C3%A9+n%C3%A1m.+109%2F1,+602+00+Brno-st%C5%99ed-Brno-m%C4%9Bsto/@49.1963623,16.6064938,17z/data=!3m1!4b1!4m5!3m4!1s0x4712945a0914c577:0x334cbf14829cc6d9!8m2!3d49.1963623!4d16.6086878" target="_blank">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </a>
        <br/>
        Brno
        <br/>
        602 00
      </p>
      <p>
        +420 776 669 031
      </p>
      <p>
        <a href="mailto:info@plusminusnula.cz" target="_blank">info@plusminusnula.cz</a>
        <br>
        <a href="http://www.plsusminusnula.cz">www.plsusminusnula.cz</a>
      </p>
      <p>
        {{ 'kontaktPusobnostPLusMinusBezHranic'|trans|raw }}
      </p>
    </div>

    <div class="col-sm-7">
      {% if showMessageOk %}
        <div class="row alert alert-success">
          {{ 'kontaktEmailUspesneOdeslan'|trans|raw }}
        </div>
      {% else %}
        {% if showMessageError %}
          <div class="row alert alert-danger">
            {{ 'kontaktOdeslaniEmailuSelhalo'|trans|raw }}
          </div>
        {% endif %}
        <form class="form-horizontal contact-form" data-toggle="validator" role="form" action="{{ path_for('contactEmail', {'lang': lang }) }}" method="POST">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{ 'kontaktCeleJmeno'|trans|upper }}</span>
              <input type="text" class="form-control" required id="fullname" name="fullname" data-error="{{ 'kontaktPovinnaPolozka'|trans }}">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{ 'kontaktTextEmailu'|trans|upper }}</span>
              <textarea class="form-control" required id="email-body" name="email-body" rows="10" data-error="{{ 'kontaktPovinnaPolozka'|trans }}"></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{ 'kontaktEmailovaAdresa'|trans|upper }}</span>
              <input type="email" class="form-control" required id="email-from" name="email-from" data-error="{{ 'kontaktChybnyEmail'|trans }}">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <button type="submit" class="btn btn-contact-email-sent">{{ 'kontakOdeslat'|trans|upper }}</button>
        </form>
      {% endif %}
    </div>

  </div>
{% endblock %}