{% extends "base-content.twig" %}

{% block title %}{{ 'titulekKontakt'|trans }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row row-filling-big">
    </div>
    <div class="col-sm-5">
      <p>
        {{ 'jmenoAtelieru'|trans|upper }}
        <br>
        {{ 'architektonickyAtelier'|trans }}
      </p>
      <p>
        <a href="https://www.google.cz/maps/place/Tyr%C5%A1ova+1769%2F40,+612+00+Brno-Kr%C3%A1lovo+Pole/@49.2234571,16.5851417,17z/data=!3m1!4b1!4m5!3m4!1s0x4712940597c432e7:0x552e1773c1567b1c!8m2!3d49.2234571!4d16.5873304"
           target="_blank">
          Tyršova 40&nbsp;&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>
        </a>
        <br/>
        Brno
        <br/>
        612 00
      </p>
      <p class="contact-options">
        <a href="tel:+420727412341"><i class="fa fa-phone" aria-hidden="true"></i>+420 776 669 031</a>
        <br>
        <a href="mailto:info@plusminusnula.cz" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@plusminusnula.cz</a>
        <br>
        <a href="http://www.plusminusnula.cz" target="_blank"><i class="fa fa-chrome" aria-hidden="true"></i>http://www.plusminusnula.cz</a>
        <br>
        <a href="https://www.facebook.com/plusminusnula.cz/" target="_blank"><i class="fa fa-facebook"
                                                                                aria-hidden="true"></i>Facebook</a>
        <br>
        <a href="https://www.instagram.com/plus_minus_nula/" target="_blank"><i class="fa fa-instagram"
                                                                                aria-hidden="true"></i>Instagram</a>
      </p>
      <p>
        {{ 'kontaktPusobnostPLusMinusBezHranic'|trans|raw }}
      </p>
    </div>

    <div class="col-sm-7">
      {% if showMessageOk %}
        <div class="row alert alert-success">
          {{ 'kontaktEmailUspesneOdeslan'|trans|raw }}
        </div>
      {% else %}
        {% if showMessageError %}
          <div class="row alert alert-danger">
            {{ 'kontaktOdeslaniEmailuSelhalo'|trans|raw }}
          </div>
        {% endif %}
        <form class="form-horizontal contact-form" data-toggle="validator" role="form" action="{{ path_for('contactEmail', {'lang': lang }) }}" method="POST">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{ 'kontaktCeleJmeno'|trans|upper }}</span>
              <input type="text" class="form-control" required id="fullname" name="fullname" data-error="{{ 'kontaktPovinnaPolozka'|trans }}">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{ 'kontaktTextEmailu'|trans|upper }}</span>
              <textarea class="form-control" required id="email-body" name="email-body" rows="10" data-error="{{ 'kontaktPovinnaPolozka'|trans }}"></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{ 'kontaktEmailovaAdresa'|trans|upper }}</span>
              <input type="email" class="form-control" required id="email-from" name="email-from" data-error="{{ 'kontaktChybnyEmail'|trans }}">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div id="contact-submit-box">
            <button type="submit" class="btn btn-contact-email-sent">&plusmn;0,000</button>
            <div>{{ 'kontakOdeslat'|trans|upper }}</div>
          </div>
        </form>
      {% endif %}
    </div>

  </div>
{% endblock %}